.DS_Store
.venv/
venv/
myenv/
__pycache__/
*.py[cod]
.pytest_cache/
**/.ipynb_checkpoints/

anonymized_data/
executed_notebooks/
intermediate_files/
logs/
figures_optional/
figures/simulations/
figures/formal_models/

notebooks/instantaneous_baseline_hazards.png
notebooks/decay_times.png
notebooks/settler_effect_*.png
